<div class="container">
    <form [formGroup] = "bankForm" (ngSubmit)="onSubmit(bankForm.value)">
        <table class="table table-striped">
            <thead>
                <tr class ="row">
                    <th class = "col-3">
                        <input id="date" type="datetime-local" class="form-control" formControlName="date">
                    </th>
                    <th class = "col-3">
                        <input id="description" type="text" formControlName="description">
                    </th>
                    <th class = "col-3">
                        <input id="account" type="text" formControlName="account">
                    </th>
                    <th class = "col-3">
                        <input id="amount" type="number" formControlName="amount"><span>&nbsp;&nbsp;&nbsp;</span><button class="button" type="submit">+</button>
                    </th> 
                </tr>
            </thead>
            <!-- <tbody  *ngFor="let info of bankData"> -->
            <tbody>
                <tr class ="row">
                    <th class = "col-3">
                    </th>
                    <th class = "col-3">
                    </th>
                    <th class = "col-3">
                    </th>
                    <th class = "col-1.5">
                        </th> 
                    <th class = "col-1.5"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> {{ cal }} 
                    </th> 
            </tbody>
        </table>
    </form>

</div>